In [1]:
import pandas as pd

In [9]:
url = "https://stooq.pl/q/d/l/?s=cdr&d1=20200101&d2=20220401&i=d"
df = pd.read_csv(url)
df

           Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie  Wolumen
0    2020-01-02    274.10     278.77     273.13      278.77   172311
1    2020-01-03    278.96     281.69     273.23      277.99   251004
2    2020-01-07    279.06     280.33     274.98      275.85   218998
3    2020-01-08    275.56     275.85     269.54      273.23   230932
4    2020-01-09    276.05     280.52     275.08      280.52   200512
..          ...       ...        ...        ...         ...      ...
562  2022-03-28    175.12     178.86     173.78      176.40   207048
563  2022-03-29    177.24     179.62     174.50      178.30   274921
564  2022-03-30    178.30     182.80     177.80      181.62   284349
565  2022-03-31    180.50     182.02     173.74      173.74   448331
566  2022-04-01    174.00     176.70     173.10      175.76   227596

[567 rows x 6 columns]

In [10]:
df["Zmiana_1D"] = pd.np.NaN

<ipython-input-10-157f8404390f>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df["Zmiana_1D"] = pd.np.NaN

In [12]:
%%timeit -r 10 -n 10
for i in range(1, len(df)):
    df.iloc[i, 6] = df.iloc[i,4] - df.iloc[i-1,4]

132 ms ± 1.95 ms per loop (mean ± std. dev. of 10 runs, 10 loops each)

In [14]:
df.Zamkniecie

0      278.77
1      277.99
2      275.85
3      273.23
4      280.52
        ...
562    176.40
563    178.30
564    181.62
565    173.74
566    175.76
Name: Zamkniecie, Length: 567, dtype: float64

In [19]:
%%timeit -r 10 -n 10
df["Shift_1D"] = df.Zamkniecie - df.Zamkniecie.shift(1)  # szybsza wersja niz petla

516 µs ± 201 µs per loop (mean ± std. dev. of 10 runs, 10 loops each)