In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://www.dropbox.com/s/axeucvys209d30h/inc5000_all10years.csv?dl=1")
df

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
0,2016,1,Los Angeles,66788.5962,218.0,Loot Crate,CA,California,116247698.0,1,Consumer Products & Services,Los Angeles
1,2016,2,Somerville,36555.2472,100.0,Paint Nite,MA,Massachusetts,55018793.0,2,Consumer Products & Services,Boston
2,2016,3,Visalia,31633.5448,47.0,CalCom Solar,CA,California,33507450.0,2,Energy,"Visalia-Porterville, CA"
3,2016,4,Evansville,23619.7198,82.0,eLuxurySupply.com,IN,Indiana,30695215.0,2,Retail,"Evansville, IN-KY"
4,2016,5,Atlanta,23486.8894,48.0,Company.com,GA,Georgia,33370967.0,2,Business Products & Services,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...
50192,2017,4996,Carlsbad,40.2025,41.0,Sonic Boom Wellness,CA,California,4870873.0,5,Health,San Diego
50193,2017,4997,Costa Mesa,40.1933,28.0,Planet DDS,CA,California,6242863.0,1,Software,Los Angeles
50194,2017,4998,Quincy,40.1359,3801.0,J. Jill,MA,Massachusetts,639056000.0,1,Retail,Boston
50195,2017,4999,Jensen Beach,40.1260,1704.0,STS Aviation Group,FL,Florida,232056990.0,5,Logistics & Transportation,"Port St. Lucie, FL"
50196,2017,5000,Alexandria,40.1047,153.0,SBG Technology Solutions,VA,Virginia,30024158.0,6,Government Services,"Washington, DC"

In [96]:
df2 = df [ (df.industry == 'Software')&(df.state_s == 'CA')&(df.year==2017)&([x[0] == 'C' or x[0] == 'S' for x in df['company']])]
df2.sort_values("yrs_on_list", ascending=True)

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
45196,2017,1,San Francisco,50058.9168,58.0,Skillz,CA,California,54243859.0,1,Software,San Francisco
45271,2017,76,Glendale,4784.2862,147.0,ServiceTitan,CA,California,13568547.0,1,Software,Los Angeles
46688,2017,1492,Walnut Creek,272.6657,140.0,Seal Software,CA,California,10570000.0,1,Software,San Francisco
48556,2017,3360,Valencia,94.7268,20.0,Status Not Quo,CA,California,3121282.0,1,Software,Los Angeles
45742,2017,546,Irvine,825.3167,65.0,Cirrus Insight,CA,California,9596034.0,2,Software,Los Angeles
45863,2017,667,San Francisco,681.0068,160.0,Sauce Labs,CA,California,24736000.0,2,Software,San Francisco
46734,2017,1538,San Francisco,260.2022,302.0,Sixth Gear Studios,CA,California,3919000.0,2,Software,San Francisco
47030,2017,1833,San Diego,210.3517,38.0,Cireson,CA,California,10654015.0,2,Software,San Diego
47764,2017,2567,Foster City,137.0183,143.0,Conversica,CA,California,18203000.0,2,Software,San Francisco
47450,2017,2253,West Hollywood,162.1553,36.0,"Criteria (Los Angeles, CA)",CA,California,5035644.0,3,Software,Los Angeles
48730,2017,3534,Santa Clara,87.3655,475.0,Centrify,CA,California,81163000.0,4,Software,San Jose
47819,2017,2623,Los Angeles,133.2458,229.0,Chrome River,CA,California,28567303.0,6,Software,Los Angeles

In [94]:
df2.sort_values("workers")

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
48556,2017,3360,Valencia,94.7268,20.0,Status Not Quo,CA,California,3121282.0,1,Software,Los Angeles
47450,2017,2253,West Hollywood,162.1553,36.0,"Criteria (Los Angeles, CA)",CA,California,5035644.0,3,Software,Los Angeles
47030,2017,1833,San Diego,210.3517,38.0,Cireson,CA,California,10654015.0,2,Software,San Diego
45196,2017,1,San Francisco,50058.9168,58.0,Skillz,CA,California,54243859.0,1,Software,San Francisco
45742,2017,546,Irvine,825.3167,65.0,Cirrus Insight,CA,California,9596034.0,2,Software,Los Angeles
46688,2017,1492,Walnut Creek,272.6657,140.0,Seal Software,CA,California,10570000.0,1,Software,San Francisco
47764,2017,2567,Foster City,137.0183,143.0,Conversica,CA,California,18203000.0,2,Software,San Francisco
45271,2017,76,Glendale,4784.2862,147.0,ServiceTitan,CA,California,13568547.0,1,Software,Los Angeles
45863,2017,667,San Francisco,681.0068,160.0,Sauce Labs,CA,California,24736000.0,2,Software,San Francisco
47819,2017,2623,Los Angeles,133.2458,229.0,Chrome River,CA,California,28567303.0,6,Software,Los Angeles
46734,2017,1538,San Francisco,260.2022,302.0,Sixth Gear Studios,CA,California,3919000.0,2,Software,San Francisco
48730,2017,3534,Santa Clara,87.3655,475.0,Centrify,CA,California,81163000.0,4,Software,San Jose

In [102]:
df2.sort_values("revenue", ascending=False)

,year,rank,city,growth,workers,company,state_s,state_l,revenue,yrs_on_list,industry,metro
48730,2017,3534,Santa Clara,87.3655,475.0,Centrify,CA,California,81163000.0,4,Software,San Jose
45196,2017,1,San Francisco,50058.9168,58.0,Skillz,CA,California,54243859.0,1,Software,San Francisco
47819,2017,2623,Los Angeles,133.2458,229.0,Chrome River,CA,California,28567303.0,6,Software,Los Angeles
45863,2017,667,San Francisco,681.0068,160.0,Sauce Labs,CA,California,24736000.0,2,Software,San Francisco
47764,2017,2567,Foster City,137.0183,143.0,Conversica,CA,California,18203000.0,2,Software,San Francisco
45271,2017,76,Glendale,4784.2862,147.0,ServiceTitan,CA,California,13568547.0,1,Software,Los Angeles
47030,2017,1833,San Diego,210.3517,38.0,Cireson,CA,California,10654015.0,2,Software,San Diego
46688,2017,1492,Walnut Creek,272.6657,140.0,Seal Software,CA,California,10570000.0,1,Software,San Francisco
45742,2017,546,Irvine,825.3167,65.0,Cirrus Insight,CA,California,9596034.0,2,Software,Los Angeles
47450,2017,2253,West Hollywood,162.1553,36.0,"Criteria (Los Angeles, CA)",CA,California,5035644.0,3,Software,Los Angeles
46734,2017,1538,San Francisco,260.2022,302.0,Sixth Gear Studios,CA,California,3919000.0,2,Software,San Francisco
48556,2017,3360,Valencia,94.7268,20.0,Status Not Quo,CA,California,3121282.0,1,Software,Los Angeles