In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

In [9]:
cities = ["Gdańsk", "Poznań", "Warszawa", "Łódź", "Sosnowiec", "Wrocław", "Kraków", "Białystok"]
plates = ["GD", "PO", "WI", "EL", "SO", "DW", "KR", "BI"]
series_cities = pd.Series(data=cities, index=plates)
series_cities

GD       Gdańsk
PO       Poznań
WI     Warszawa
EL         Łódź
SO    Sosnowiec
DW      Wrocław
KR       Kraków
BI    Białystok
dtype: object

In [10]:
series_cities.index

Index(['GD', 'PO', 'WI', 'EL', 'SO', 'DW', 'KR', 'BI'], dtype='object')

In [11]:
list(series_cities.index)

['GD', 'PO', 'WI', 'EL', 'SO', 'DW', 'KR', 'BI']

In [13]:
countries = ["Poland", "UK", "USA", "Germany", "France", "India"]
population = [37_123_456, 62_876_444, 320_123_666, 80_123_888, 55_123_999, 1_520_456_890 ]
countries_series = pd.Series(index=countries, data=population)
countries_series

Poland       37123456
UK           62876444
USA         320123666
Germany      80123888
France       55123999
India      1520456890
dtype: int64

In [15]:
countries_series[countries_series > 100_000_000]

USA       320123666
India    1520456890
dtype: int64

In [19]:
countries_series[(countries_series<50_000_000)|(countries_series>1E9)]

Poland      37123456
India     1520456890
dtype: int64

In [20]:
countries_series

Poland       37123456
UK           62876444
USA         320123666
Germany      80123888
France       55123999
India      1520456890
dtype: int64

In [21]:
def convert_pop(x):
    if x<50E6: return "L"
    if x<100E6: return "M"
    return "H"
convert_pop(76E6)
#countries_series.apply()

'M'

In [22]:
countries_series.apply(convert_pop)

Poland     L
UK         M
USA        H
Germany    M
France     M
India      H
dtype: object

In [26]:
countries_series.apply(lambda x: f"{x/1_000_000:.2f} mln" )

Poland       37.12 mln
UK           62.88 mln
USA         320.12 mln
Germany      80.12 mln
France       55.12 mln
India      1520.46 mln
dtype: object

In [28]:
countries_series = pd.Series(["PL", "UK", "DE", "UA"])
countries_series

0    PL
1    UK
2    DE
3    UA
dtype: object

In [31]:
countries_series.map({
    "PL": "Polska", "UK":"Wlk Brytania", 
    "DE":"Niemcy", 
    "UA":"Ukraina"
})

0          Polska
1    Wlk Brytania
2          Niemcy
3         Ukraina
dtype: object

In [32]:
countries = ["Poland", "UK", "USA", "Germany", "France", "India"]
population = [37_123_456, 62_876_444, 320_123_666, 80_123_888, 55_123_999, 1_520_456_890 ]
countries_series = pd.Series(index=countries, data=population)
countries_series

Poland       37123456
UK           62876444
USA         320123666
Germany      80123888
France       55123999
India      1520456890
dtype: int64

In [37]:
countries_series.sort_values(ascending=False, inplace=True)

In [38]:
countries_series

India      1520456890
USA         320123666
Germany      80123888
UK           62876444
France       55123999
Poland       37123456
dtype: int64

In [39]:
countries_series.sort_index()

France       55123999
Germany      80123888
India      1520456890
Poland       37123456
UK           62876444
USA         320123666
dtype: int64

In [40]:
countries_series.mean(), countries_series.median(), countries_series.std(), \
countries_series.min(), countries_series.max()

(345971390.5, 71500166.0, 584958321.3365185, 37123456, 1520456890)

In [42]:
countries_series.head(2)

India    1520456890
USA       320123666
dtype: int64

In [43]:
countries_series.tail(3)

UK        62876444
France    55123999
Poland    37123456
dtype: int64

In [44]:
countries_series

India      1520456890
USA         320123666
Germany      80123888
UK           62876444
France       55123999
Poland       37123456
dtype: int64

In [49]:
countries_series["USA"], countries_series.USA, countries_series.loc["USA"], countries_series[1], countries_series.iloc[1]

(320123666, 320123666, 320123666, 320123666, 320123666)

In [50]:
if "USA" in countries_series.index: print(countries_series["USA"])

320123666

In [52]:
countries_series.loc["USA":"UK"]

USA        320123666
Germany     80123888
UK          62876444
dtype: int64

In [53]:
countries_series.iloc[1:4]

USA        320123666
Germany     80123888
UK          62876444
dtype: int64

In [56]:
countries_series.loc["USA"::2]

USA       320123666
UK         62876444
Poland     37123456
dtype: int64

In [57]:
countries_series.loc[ ["India", "Poland"]]

India     1520456890
Poland      37123456
dtype: int64

In [58]:
countries_series.iloc[ [0,-1] ]

India     1520456890
Poland      37123456
dtype: int64

In [59]:
countries = ["Poland", "UK", "USA", "Poland", "France", "India"]
population = [37_123_456, 62_876_444, 320_123_666, 80_123_888, 55_123_999, 1_520_456_890 ]
countries_series = pd.Series(index=countries, data=population)
countries_series

Poland      37123456
UK          62876444
USA        320123666
Poland      80123888
France      55123999
India     1520456890
dtype: int64

In [60]:
countries_series["Poland"]

Poland    37123456
Poland    80123888
dtype: int64

In [61]:
countries_series.loc["Poland":"Poland"]

KeyError: "Cannot get left slice bound for non-unique label: 'Poland'"